.nav {
    display: flex;
    grid-area: nav;
    padding: 2.5rem;
    background-color: $cor--fundo;
  
    .title--page {
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $cor--texto;
      }
    }
  
}