<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="http://localhost/PROJS/VIDEO_AULAS/AULAS/6_SistemaLogin/assets/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="http://localhost:8080/myDash/public/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<style>
		.box__login {
			max-width: 380px;
			margin: 0 auto;
			gap: 2rem;
		}
		.box__login .box__form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		.box__login .box__form .input__box input{
			/* flex: 1; */
			width: 100%;
			padding: 8px 18px
		}
		.box__login .box__form .btn-login {
			padding: 8px 18px;
			background: #1560d1;
			color: white;
			border: none;
			border-radius: 4px;
		}
	</style>
</head>
<body>
	<div class="box__login">
		<h1>Faça seu login</h1>
		

		<form method="POST" class="box__form" action="{{base_url}}/login/auth" enctype="multipart/form-data">
			<div class="input__box">
				<input type="email" name="email" placeholder="E-MAIL">
			</div>
			<div class="input__box">
				<input type="password" name="password" placeholder="SENHA">
			</div>
			{% if error != '' %}
				<span class="msg_error"><i class="fa fa-exclamation-triangle" style="font-size: 16px; color: #FF6D6D; padding-right: 5px;"></i> <p>{{error}}</p></span>
			{% endif %}

			<button class="btn-login">LOGAR</button>
		</form>
	</div>
</body>
</html>