<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{base_url}}/assets/css/style.compilado.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <header class="menu__bar">
        <div class="menu__bar--wrapper container">
            <h1 class="menu__bar--brand">
                my<span class="menu__bar--brand-color">Dash</span>
            </h1>
            <nav class="menu__bar--nav">
                <ul>
                    <li>
                        {% if name_user != '' %}
                        <button class="user__button open__dropdown">Hi, {{name_user}}
                            <img src="{{base_url}}/assets/src/icons/user-white.svg" alt="Signin">
                        </button>
                        <div class="user__dropdown">
                            <ul class="user__dropdown--wrapper">
                                <li>
                                    <a href="{{base_url}}/dashboard">Dashboard</a>
                                </li>
                                <li>
                                    <a href="{{base_url}}/dashboard/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <button class="user__button open__login">Sign-in
                            <img src="{{base_url}}/assets/src/icons/user-white.svg" alt="Signin">
                        </button>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    {% block content %}
    {% endblock %}

    <div class="modal login {{ error != '' ? 'open' : '' }}">
        <div class="modal__wrapper">
            <div class="header">
                <h2>Sign-in</h2>
                <span class="close">
                    <img src="{{base_url}}/assets/src/icons/close.svg" alt="">
                </span>
            </div>
            <form method="POST" class="login-form" action="{{base_url}}/login/auth" autocomplete="off">
                <div class="input__box">
                    <span class="input__icon">
                        <img src="{{base_url}}/assets/src/icons/email.svg" alt="">
                    </span>
                    <input name="email" type="email" value="" placeholder="Email">
                </div>
                <div class="input__box password">
                    <span class="input__icon">
                        <img src="{{base_url}}/assets/src/icons/password.svg" alt="">
                    </span>
                    <input name="password" type="password" value="" placeholder="Password">
                    <span class="input__icon eyes">
                        <img class="eye" src="{{base_url}}/assets/src/icons/eye.svg" alt="">
                        <img class="eye-cross" src="{{base_url}}/assets/src/icons/eye-cross.svg" alt="">
                    </span>
                </div>
                {% if error != '' %}
                <div class="error">
                    <p>{{error}}</p>
                </div>
                {% endif %}
                <button type="submit" class="btn__primary">
                    Sign-in
                    <span class="arrow">
                        <img src="{{base_url}}/assets/src/icons/arrow.svg" alt="">
                    </span>
                </button>
            </form>
        </div>
    </div>
    <script src="{{base_url}}/assets/js/main.js"></script>
</body>
</html>