<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://localhost:8080/myDash/public/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <header class="menu">
        <div class="menu__bar container">
            <p class="menu__bar--brand">
                Bem vindo, <span style="color:rgb(255, 208, 0)">{{name_user}}</span>
            </p>
            <nav class="menu__bar--nav">
                <ul>
                    <li>
                        <a href="{{base_url}}/dashboard/logout">Sair</a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>

    <section class="box_dashboard">
        <div class="content_area">
            <h1>DASHBOARD</h1>
        </div>
    </section>
</body>
</html>