{% extends "layout/base.layout.site.html" %}

{% block content %}
<main class="hero">
    <!-- <img class="orna-2" src="{{base_url}}/assets/src/ornament-2.svg" alt=""> -->
    <section class="hero__section container">
        <div class="hero__section--block">
            <h1 class="title">Lorem ipsum</h1>
            <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
            <a href="#" class="btn__primary">
                Sign-up
                <span class="arrow">
                    <img src="{{base_url}}/assets/src/icons/arrow.svg" alt="">
                </span>
            </a>
        </div>
    </section>
    <div class="hero__section--banner">
        <div class="wrapper">
            <!-- <div class="secure">
                <img src="{{base_url}}/assets/src/secure.svg" alt="Secure">
            </div> -->
            <img src="{{base_url}}/assets/src/hero.png" alt="Ilustration">
        </div>
    </div>
    <!-- <img class="orna-1" src="{{base_url}}/assets/src/ornament-1.svg" alt=""> -->
</main>
{% endblock %}